<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WizardWrx.AnyCSV" version="7.2.145" targetFramework="net472" />
  <package id="WizardWrx.ASCIIInfo" version="7.23.84" targetFramework="net472" />
  <package id="WizardWrx.AssemblyUtils" version="7.23.121" targetFramework="net472" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net472" />
  <package id="WizardWrx.Common" version="7.23.124" targetFramework="net472" />
  <package id="WizardWrx.ConsoleAppAids3" version="7.1.521.579" targetFramework="net472" />
  <package id="WizardWrx.ConsoleStreams" version="7.15.191.37663" targetFramework="net472" />
  <package id="WizardWrx.Core" version="7.23.182" targetFramework="net472" />
  <package id="WizardWrx.DLLConfigurationManager" version="7.15.211" targetFramework="net472" />
  <package id="WizardWrx.FormatStringEngine" version="7.23.168" targetFramework="net472" />
</packages>